@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #fff;
}

.spiner {
  margin-bottom: 20px;
  animation: spin 1s ease-in-out infinite;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0077ff;
  margin: 0 20px;
  margin-right: 10px;
}

.avatars img:last-child {
  top: 20px;
  left: 20px;
}

.speakers .avatars img {
  position: initial;
}

.speakers .names {
  margin-left: 20px;
}

.roomPeopleWrap {
  margin-top: 4rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  min-height: calc(100vh - 205px);
  padding: 2rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
